{% extends 'base.html' %}
{% block title %} {{ post.title }} {% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.content }}</p>
<p>{{ post.published_date }}</p>
<p>{{ post.author.surname }} Category {{ post.category }}</p>
<p>Views {{ post.views }}</p>
<br>
<br>
<h2>Comments:</h2>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Отправить">
</form>
<br>
<br>
{% for comment in comments %}
<p>{{ comment.published_date }} | {{ comment.content }} | {{ comment.author }}</p>
{% empty %}
<p>No comments yet.</p>
{% endfor %}
{% endblock %}